<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tarea 2 - Flask Dinámico</title>
</head>
<body>

    <h1>¡Bienvenido a tu primer panel dinámico en Flask!</h1>
    
    
    <p>Hola, <strong>Luna</strong>. Qué bueno verte de nuevo.</p>
    
    
    <footer>
        <p>Fecha de ingreso:Sabado 18 de Mayo</p>
    </footer>

<body>

    <h1>Preguntas de Reflexión Técnica</h1>

    <h2>1. ¿Qué cambia en la plantilla cuando los datos llegan desde app.py en lugar de estar escritos directamente en el HTML?</h2>
    <p>
        Cuando los datos llegan desde <code>app.py</code>, el contenido de la plantilla se vuelve dinámico.
        Esto significa que la información puede cambiar según los valores enviados desde Python, sin necesidad
        de modificar manualmente el archivo HTML. En lugar de escribir texto fijo, se utilizan variables de
        Flask y Jinja2, como <code>{{ nombre }}</code>, que se reemplazan automáticamente al renderizar la página.
    </p>

    <h2>2. ¿Qué ventaja tiene separar la lógica en Python de la presentación en la plantilla?</h2>
    <p>
        Separar la lógica y la presentación permite que el código sea más ordenado, fácil de mantener y reutilizable.
        Python se encarga de procesar los datos y tomar decisiones, mientras que la plantilla HTML solo se ocupa
        de mostrar la información al usuario. Esto facilita hacer cambios en el diseño sin afectar la lógica
        del programa y viceversa.
    </p>

    <h2>3. ¿Qué pasa si una variable no se envía desde render_template, pero se intenta mostrar en index.html?</h2>
    <p>
        Si una variable no se envía desde <code>render_template()</code> y se intenta mostrar en
        <code>index.html</code>, Flask no generará un error en la mayoría de los casos. Simplemente, la variable
        aparecerá vacía en la página o no mostrará ningún contenido. Esto indica que la plantilla depende de los
        datos que el backend le proporciona.
    </p>
</body>

</body>
</html>
